*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.progressbar{
    height: 50px;
    width: 380px;
   position: relative;
   transform-style: preserve-3d;
   
   transform: rotateX(-20deg) rotateY(-40deg);
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 124, 124, 0.3);
}
.side__bottom {
    transform: rotateX(90deg);
    box-shadow: 10px 5px 50px 5px rgba(0, 0, 0, .25);
    transform-origin: bottom;
}
.side__top {
    transform: rotateX(-90deg);
    
    transform-origin: top;
}
.side__back {
    transform: translateZ(-50px);
}
.side__left {
    width: 50px;
    transform: rotateY(90deg);
    background-color: rgba(0, 139, 139, .5);
    transform-origin:left ;
    
}

.sides__fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:rgba(0, 139, 139, .5) ;
    transition: all .5s;
}
.progressbar__controller{
    display: inline-block;
    position: relative;
    top: -100px;
    left: 50px;
    font-size: 22px;
    font-family: "Arial";
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: rgba(0, 139, 139, .5);
    box-shadow: 1px -2px 0px 0px rgba(56, 121, 121, 1) , 
                2px -2px 0px 0px rgba(56, 121, 121, 1) , 
                3px -2px 0px 0px rgba(56, 121, 121, 1) ;
    cursor: pointer;
    

}
.progressbar__checker{
    display: none;
}
.progressbar__checker:checked + .progressbar__controller{

background-color: rgba(113, 0, 139, 0.5);
box-shadow: 1px -2px 0px 0px rgba(113, 0, 139, 0.5) , 
2px -2px 0px 0px rgba(113, 0, 139, 0.5) , 
3px -2px 0px 0px rgba(113, 0, 139, 0.5) ;

}
#zero:checked ~ div > .sides__fill{
    width: 0;
}
#twenty-five:checked ~ div > .sides__fill{
    width: 25%;
}
#fifty:checked ~ div > .sides__fill{
    width: 50%;
}
#seventy-five:checked ~ div > .sides__fill{
    width: 75%;
}
#hundred:checked ~ div > .sides__fill{
    width: 100%;
}